{% block body %}
    <p><span>Total commits: {{ commits|length }}</span></p>
    {% for commit in commits %}
        <h1>Commit:</h1>
        <dl>
            <dt><b>Message:</b></dt>
            <dd>{{ commit.message }}</dd>

            <dt><b>Author:</b></dt>
            <dd>{{ commit.author }}</dd>

            <dt><b>Hash:</b></dt>
            <dd>{{ commit.hash }}</dd>
       </dl>
    {% endfor %}
{% endblock %}